---
import { gotMonthName, gotDayOfMonth, gotYear, gotDayOfWeekName } from "../scripts/date";
---

<section class="date">
    <h1>Date</h1>
    <time>
        <data class="month">{gotMonthName}</data>
        <data class="dayOfMonth">{gotDayOfMonth}</data>, <data class="year">{gotYear}</data> -
        <data class="dayOfWeek">{gotDayOfWeekName}</data>
    </time>
</section>