<section class="time">
    <h1>Time</h1>
    <time>
        <data class="hours">HH</data>:<data class="minutes">MM</data>:<data class="seconds">SS</data>
        <data class="amOrPM">AM/PM</data>
    </time>
</section>