<section class="time">
    <h1>Time</h1>
    <time>
        <data class="hours">00</data>:<data class="minutes">00</data>:<data class="seconds">00</data>
        <data class="amOrPM">A</data>
    </time>
</section>