@import url('https://fontlibrary.org//face/segment7');

:root {
    --opacity: 0.8;
    --widget-bg: hsla(0, 0%, 83%, var(--opacity));
    --weather-bg: hsla(197, 100%, 82%, var(--opacity));
    --time-bg: hsla(36, 100%, 70%, var(--opacity));
    --date-bg: hsla(281, 100%, 73%, var(--opacity));
    --widget-border: lab(0% 0 0 / var(--opacity));
    --border-radius: 3em;
    --border-width: 1em;
    --half-width: calc(var(--border-width) / 2);
}

body {
    display: grid;
}

/* Grid */
.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
    width: 70%;
    height: 70%;
    max-width: 1500px;
    max-height: 900px;
    margin: auto;
    place-self: center;
}

/* Widgets */
section {
    background: var(--widget-bg);
    padding: 1em;
  
    /* Relative Parent. Absolute Child */
    position: relative;

    place-content: center;
    text-align: center;
    border: 1em solid;
    border-color: var(--widget-border);
}

.weather {
    grid-column: span 2;
    background-color: var(--weather-bg);
    border-bottom-width: var(--half-width);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.time, .date {
    border-top-width: var(--half-width);
}

.weather p, .date data {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.time {
    background-color: var(--time-bg);
    border-right-width: var(--half-width);
    border-bottom-left-radius: var(--border-radius);

    time {
        font-size: 5em;
        font-family: monospace;
    }
    data.hours, data.minutes, data.seconds, data.amOrPM {
        font-family: 'Segment7', monospace;
    }
}

.date {
    background-color: var(--date-bg);
    border-left-width: var(--half-width);
    border-bottom-right-radius: var(--border-radius);
}

.date :not(h1) {
    font-size: 1.5em;
}

.error {
    color: red;
    padding: 1em;
    font-weight: bold;
}

/* Smart Mirror */
video { 
    /* Position video */
    position: fixed;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content */
    z-index: -1;
    /* fill background with video */
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 925px) {
    .layout {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 400px);
    }
    .weather {
        grid-column: span 1;
    }
    .time {
        grid-column: span 1;
        border-bottom-left-radius: 0;
        border-bottom-width: var(--half-width);
        border-right-width: var(--border-width);
    }
    .date {
        grid-column: span 1;
        border-bottom-left-radius: var(--border-radius);
        border-left-width: var(--border-width);
    }
}