---
import "../css/styles.css";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>

        <!-- Favicons -->
        <link rel="icon" type="image/svg+xml" sizes="16x16" href="/favicon.svg" />

        <script type="text/javascript" src="/js/time.js"></script>
        <script type="text/javascript" src="/js/webcam.js" defer></script>
        <!-- Normalize CSS Base -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    </head>
    <body>
        <!-- Webcam Video -->
        <video autoplay disablepictureinpicture></video>

        <main class="layout">
            <slot />
        </main>
    </body>
</html>
